{% load static %}
<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/admin-base.css' %}">
	<title>Assessment {% if title is not None %} | {{title}} {% endif %}</title>
</head>

<body>
	<header>
		<div class="logo">
				<a href="{% url 'home' %}"><h1>AUCTION<span>SITE</span></h1></a>
		</div>
		<nav>
      {% if user.is_authenticated %}
        <div>
          <a class="signup-btn" href="{% url 'deshboard' user.id %}">Deshboard</a>
					{% if user.is_admin %}
						<a class="admin-btn" href="{% url 'my-admin' %}">Admin</a>
					{% endif %}
          <a class="logout-btn" href="{% url 'logout' %}">Logout</a>
        </div>
      {% else %}
        <a class="signup-btn" style="white-space: nowrap;" href="{% url 'signin' %}">Sign in</a>
      {% endif %}
    </nav>
	</header>
  <div class="side-nav">

  </div>
  <div class="content">
    {% block content %}
	  {% endblock content %}
  </div>
</body>
</html>